{{> header}}
{{> barra}}
        <h1>About</h1>
        <div>
            <div id="bloque1">
                <h1>Nada</h1>
            </div>
            <div id="bloque2">
                <img src="img/gordo.jpg" alt="">
            </div>

        </div>
{{> footer}}